#content {
  text-align: center;
  color: #e7cffe;
}

#cta {
  margin-top: 2rem;
}

#cta a {
  text-decoration: none;
  background-color: #ff9273;
  color: black;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-size: 1.5rem;
}
